@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *)); 

@layer utilities {
  .animate-fadeSlide {
    animation: fadeSlide 0.4s ease;
  }

  @keyframes fadeSlide {
    from {
      opacity: 0;
      transform: translateY(5px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
